REVIEWS :)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('Reviews.csv')

In [10]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [9]:
df.Summary.head()

0    Good Quality Dog Food
1        Not as Advertised
2    "Delight" says it all
3           Cough Medicine
4              Great taffy
Name: Summary, dtype: object

In [11]:
df.Text.head()

0    I have bought several of the Vitality canned d...
1    Product arrived labeled as Jumbo Salted Peanut...
2    This is a confection that has been around a fe...
3    If you are looking for the secret ingredient i...
4    Great taffy at a great price.  There was a wid...
Name: Text, dtype: object

In [17]:
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

In [ ]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'] = df['Text'].str.replace('[^\w\s]',' ')
stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'] = df['Text'].apply(lambda x : str(TextBlob(x).correct()))

df['Text'] = df['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['Text'].head()

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
/var/folders/53/wsj_68ks75l4gf7qydwj8pbr0000gn/T/ipykernel_38785/3617732521.py:2: SyntaxWarning: invalid escape sequence '\w'
  df['Text'] = df['Text'].str.replace('[^\w\s]','')

In [ ]:
reviews = df
reviews.dropna(inplace=True)
reviews.Score.hist(bin=5, grid=False)
plt.show()
print(reviews.groupby('Score').count().Id)

In [ ]:
score_1 = reviews[reviews['Score'] == 1].sample(n = 18)
score_2 = reviews[reviews['Score'] == 2].sample(n = 18)
score_3 = reviews[reviews['Score'] == 3].sample(n = 18)
score_4 = reviews[reviews['Score'] == 4].sample(n = 18)
score_5 = reviews[reviews['Score'] == 5].sample(n = 18)

In [ ]:
reviews.sample = pd.concat([score_1, score_2, score_3, score_4, score_5], axis=0)
reviews.sample = reviews.sample.reset_index(drop=True)

print(reviews.sample.groupby('Score').count().Id)

In [ ]:
from wordcloud import WordCloud

reviews_str = " ".join(reviews_sample["Summary"].to_numpy())
wordcloud = WordCloud(width = 800, height = 800, background_color ='white').generate(reviews_str)
plt.figure(figsize = (10 ,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()