In [2]:
import pandas as pd
dataset = pd.read_csv('hate_speech.csv')
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
dataset.shape

(5242, 3)

In [4]:
dataset.label.value_counts()

label
0    3000
1    2242
Name: count, dtype: int64

In [5]:
for index, tweet in enumerate(dataset["tweet"][10:15]):
    print(index+1,"-",tweet)

1 -  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
2 - we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
3 - i get to see my daddy today!!   #80days #gettingfed
4 - ouch...junior is angryð#got7 #junior #yugyoem   #omg
5 - i am thankful for having a paner. #thankful #positive

In [6]:
import re
def clean_text(text):
    text = re.sub(r'[^a-zA-Z\']', ' ',text)
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    text = text.lower()
    return text

In [7]:
dataset['clean_text'] = dataset.tweet.apply(lambda x: clean_text(x))

In [1]:
from nltk.corpus import stopwords
len(stopwords.words('english'))

179

In [2]:
stop = stopwords.words('english')

In [3]:
def gen_freq(text):
    word_list = []
    for tw_words in text.split():
        word_list.extend(tw_words)
    word_freq = pd.Series(word_list).value_counts()
    word_freq = word_freq.drop(stop, errors='ignore')
    return word_freq

In [4]:
def any_neg(words):
    for words in words:
        if words in ['n', 'no', 'non', 'not'] or re.search(r"\wn't", words):
            return 1
        else:
            return 0

In [5]:
def any_rare(words, rare_100):
    for words in words:
        if words in rare_100:
            return 1
        else:
            return 0

In [6]:
def any_rare(words, rare_100):
    for words in words:
        if words in rare_100:
            return 1
        else:
            return 0

In [ ]:
word_freq = gen_freq(dataset.clean_text.str)
rare_100 = word_freq[-100:]
dataset['word_count']